# Vsode project files
.vscode

# Build files
bin
build/bin
build/linux/appimage/
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe

# Task files
.task

# Environment variables
.env*
!.env.example

# Backup files
*~

tickets*

# Git worktrees
worktrees